body{
  margin:0;
  font-family: Arial;
  background: linear-gradient(to bottom, #8B0000, #000);
  color:white;
  text-align:center;
}

.container{
  padding:20px;
}

.logo{
  width:200px;
  margin-top:20px;
}

h1{
  color:gold;
}

.btn{
  display:block;
  background:gold;
  color:black;
  padding:15px;
  margin:15px;
  text-decoration:none;
  font-weight:bold;
  border-radius:10px;
}

.btn:hover{
  background:#ffd700;
}

table{
  width:100%;
  border-collapse: collapse;
  background:white;
  color:black;
}

td, th{
  border:1px solid black;
  padding:5px;
}

input{
  width:100%;
  border:none;
}

.total{
  background:#f2f2f2;
  font-weight:bold;
}
